APP_NAME=GCode
APP_ENV=local
APP_KEY=base64:LpgXkKmp/PBeA1QuxLswrdH2ePeIRqWxiXOBa8YaJVk=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=gg33sports
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

####### LIVE MAIL
MAIL_MAILER=smtp
MAIL_HOST=live.smtp.mailtrap.io
MAIL_PORT=587
MAIL_USERNAME=api
MAIL_PASSWORD=bbdbfabe38d8b84dfe2857f133acd65f
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="no-reply@gcode.cash"
MAIL_FROM_NAME="${APP_NAME}"

##SANDBOX MAIL
# MAIL_MAILER=smtp
# MAIL_HOST=sandbox.smtp.mailtrap.io
# MAIL_PORT=2525
# MAIL_USERNAME=3e6e7ca17d884f
# MAIL_PASSWORD=9ca28c498fa902
# MAIL_FROM_ADDRESS="no-reply@gcode.cash"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

RAPIDAPI_KEY=1240f4bf06msh22e9d539d535101p1b1ff3jsn337bd1967b6d
LUNARSOLAR_API=https://apialt.adminmaintenance.com/


#PayPal API Mode
# Values: sandbox or live (Default: live)
PAYPAL_MODE=sandbox

#PayPal Setting & API Credentials - sandbox
PAYPAL_SANDBOX_CLIENT_ID=AVu5pZ5yoaeRR_inGDTxuiusSxZHul7oQ-mJ0-5Th8hoPTgURwv8ftjQXoaFmh7O-UBtPMN10Iug4AgY
PAYPAL_SANDBOX_CLIENT_SECRET=EPwMyfFmyQeZM7lQJr4JtLKX33Tjo08JEXrdbP__MEuI4Ir4FpEu_Rk8XFOO_YmSCaUKhg2oOHxyV1qe
#PayPal Setting & API Credentials - live
#PAYPAL_LIVE_CLIENT_ID=ASfjG63skzXBSu7-y14hv0aG3dCZzGIJB8bJLpCWcfwo64xsbRtKGseiie5m2gj5NRHHD1Wqe2yJDz4I
#PAYPAL_LIVE_CLIENT_SECRET=EOKc29WjIK1MK4pyd-sKil2Mqx-mVk9Ic3cAFDwrTZwLxfA56tU2G8Zl4-Vqe8pqJiqPPIkNXYlyeEaa
PAYPAL_PLAN_ID=P-1R60724177746993V4SV5HRQ
#GCODE CASH
PAYPAL_WEBHOOK_ID=3A965815H74368301
#LOCAL HOST
# PAYPAL_WEBHOOK_ID=8C507963NY948684N
